<div class="container">
    <h2>Quản lý tài khoản của nhân viên</h2>
    <input type="text" id="searchInput" placeholder="Nhập tên tài khoản">
    <button class="button">Tìm kiếm</button>
    <button class="add-button" style="display: block; padding-top: 15px;"  (click)="openPopup()"></button>
    <div class="tracking-info"><table>
        <thead>
          <tr>
            <th>Mã nhân viên</th>
            <th>Tài khoản</th>
            <th></th>
        </thead>
        <tbody>
          <tr>
            <td>VD001</td>
            <td>HCM City</td>
            <td><button class="delete-button">Xóa</button></td>
        </tbody>
      </table>
    </div>
</div>
