/* Font */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    min-height: 100vh;
  }
  
  /* Container */
  .container {
    width: 100%;
    margin: auto;
    overflow: hidden;
    max-width: 900px; 
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff; /* Thay đổi màu nền container */
    border-radius: 10px; /* Bo góc container */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); /* Hiệu ứng bóng đổ */
  }
  
  /* Form */
  #tracking-form {
    background: #ffffff;
    padding: 20px;
    margin-top: 20px;
    box-sizing: border-box;
    border-radius: 8px; /* Bo góc form */
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1); /* Hiệu ứng bóng đổ */
  }
  
  /* Input */
  input[type="text"] {
    width: calc(100% - 12px);
    height: 40px; /* Tăng kích thước ô input */
    padding: 10px;
    display: block;
    margin: 10px 0; /* Thêm margin top/bottom cho ô input */
    border: 1px solid #ccc; /* Viền ô input */
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  /* Button */
  .button {
    background: rgb(20, 161, 48);
    border-radius: 5px;
    border: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    width: 150px;
    height: 48px;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    margin-top: 10px; /* Thêm margin top cho nút */
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
  }
  
  .button:hover {
    background: #ff7f7f; /* Màu nút khi hover */
  }
  