<div class="body">
    <div class="container">
    <h1>Xác nhận đơn hàng từ điểm tập kết</h1>
    <div id="tracking-form">
        <table>
            <thead>
              <tr>
                <th>Mã vận đơn</th>
                <th>Loại hàng</th>
                <th>trạng thái</th>
                <th></th>
            </thead>
            <tbody>
              <tr>
                <td>{{ accept.id}}</td>
                <td>{{ accept.type }}</td>
                <td>{{ accept.status }}</td>
                <td><button class="button2">cập nhật</button></td>
            </tbody>
          </table>
    </div>

    </div>
</div>