<div class="body">
    <div class="container">
    <h1>Tạo đơn hàng</h1>
    <button class="button"> Ghi nhận đơn hàng </button>
    <div id="tracking-form">
        <form>
        <input class="input" type="text" placeholder="Tên người gửi...">
        <input class="input" type="text" placeholder="Số điện thoại...">
        <input class="input" type="text" placeholder="Loại hàng...">
        <input class="input" type="text" placeholder="Mô tả...">
        <input class="input" type="text" placeholder="Cân nặng...">
        <input class="input" type="text" placeholder="Số lượng...">
        </form>
    </div>

    </div>
</div>