<header class="nav-bar">
    <div class="logo">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
      <span class="material-symbols-outlined">home_app_logo</span>
      <div class="name1"><b class="magicpost">MagicPost</b></div>
    </div>
    <button class="button">Đăng nhập</button>
  </header>
  
  <main>
    <!-- Nội dung chính của trang web -->
  </main>
  
  <footer>
    <footer class="site-footer">
        <div class="footer-content">
          <h3>Tổng công ty cổ phần MagicPost</h3>
          <p>MagicPost là công ty hàng đầu về công nghệ chuyển phát nhanh</p>
          <p>Thông tin liên hệ</p>
          <p>Địa chỉ: 144 Xuân Thủy</p>
        </div>
        <div class="footer-dev">
            Contact With me: 0869181388
        </div>        
      </footer>
  </footer>
  