<div>
  <div class="button-container" (click)="login()"> 
    <button class="button">Đăng nhập</button>
  <div class="background-image">
    <img src="/assets/dashboard.jpg" alt="looooi">
  </div>
</div>
  <!-- <footer>
    <footer class="site-footer">
        <div class="footer-content">
          <h3>Tổng công ty cổ phần MagicPost</h3>
          <p>MagicPost là công ty hàng đầu về công nghệ chuyển phát nhanh</p>
          <p>Thông tin liên hệ</p>
          <p>Địa chỉ: 144 Xuân Thủy</p>
        </div>
        <div class="footer-dev">
            Contact With me: 0869181388
        </div>        
      </footer>
  </footer> -->
  