<div class="body">
  <div class="container">
    <h2 id="header">Quản lý tài khoản của nhân viên</h2>
    <div class="head">
      <input type="text" id="searchInput" placeholder="Tìm kiếm ...">
      <button class="button"><span class="material-symbols-outlined">search</span>Tìm kiếm</button>
    </div>

    <div class="main">
      <div *ngFor="let inf of data" class="location-item">
        <div class="info-box">
          <div class="info">
            <h2>{{ inf.serviceAddress.name }}</h2>
            <table>
              <tbody>
              <tr>
                <td>
                  <p><b>Mã kho</b></p>
                  <p><b>Vị trí</b></p>
                  <p><b>Số lượng</b></p>
                  <pre> </pre>
                  <pre> </pre>
                </td>
                <td>
                  <p>: {{inf.serviceAddress.id}}</p>
                  <p>: {{inf.serviceAddress.address}}</p>
                  <p>: {{inf.countOrder}}</p>
                  <pre> </pre>
                  <pre> </pre>
                </td>
                <td>
                  <pre>        </pre>
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                </td>
                <td>
                  <p><b>Quản lý</b></p>
                  <p><b>Mã nhân viên</b></p>
                  <p><b>Email</b></p>
                  <p><b>Liên hệ</b></p>
                  <p><b>Số nhân viên</b></p>
                </td>
                <td>
                  <p>: {{inf.user.username}}</p>
                  <p>: {{inf.user.codeid}}</p>
                  <p>: {{inf.user.email}}</p>
                  <p>: {{inf.user.phone_number}}</p>
                  <p>: {{inf.countEmployee}}</p>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- <div class="image-box" [style.backgroundImage]=""> -->
            <img src="/assets/truck1.png" alt="loiroi" >
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
