<div class="left-bar">
  <div class="content">
    <div
      class="container mat-elevation-z1"
      [@openCloseNav]="showNav"
    >
      <div class="logo">
        <img [class.icon-img]="!showNav" [src]="showNav ? '/assets/logo2.png': '/assets/img.png'" alt="">
      </div>

      <div class="sidenav">
        <mat-list-item style="z-index: 100;">
          <a *ngFor="let option of menus; trackBy: optionIdentity"
             class="item"
             [class.menu-selected] = "selectedMenuItem == option"
             (click)="onClickItem(option)"
             (mouseenter)="showNav = true"
             (mouseleave)="showNav = false"
          >
            <div class="option-item-icon">
              <span class="material-symbols-outlined"> {{option.iconStr}} </span>
            </div>
            <div class="option-item-title">
              {{option.title}}
            </div>
          </a>
        </mat-list-item>
      </div>

      <div class="item" (click)="logout()">
        <div class="option-item-icon">
          <span class="material-symbols-outlined"> logout </span>
        </div>
        <div class="option-item-title">
          Logout
        </div>
      </div>
    </div>
  </div>
</div>

