$lefbar: #ddddda;
$hover: #4a707a;
$logo: #4a707a;

.left-bar {
  font-family: "Arial", sans-serif;
  position: relative;

  .container {
    background-color: $lefbar;
    width: 220px;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;

    .logo {
      height: 90px;
      padding: 20px;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      color: $logo;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .material-symbols-outlined {
        font-family: "Material Symbols Outlined", sans-serif;
        color: $logo;
      }

      .magicpost {
        color: $logo; /* Change color if needed */
      }

      .icon-img {
        width: 40px;
        height: 40px;
      }
    }

    .logout {
      align-items: center;
      margin-top: auto; /* Push Log out to bottom */
    }
  }
}

.content {
  position: absolute;
}

.item {
  padding: 15px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
  overflow-x: hidden;

  .material-symbols-outlined {
    margin-right: 10px; /* Adjust spacing if needed */
    font-family: "Material Symbols Outlined", sans-serif;
  }

  .name {
    font-size: 16px;
    color: $logo;
  }
}

.menu-selected {
  background-color: #7697ad;
  color: white;

  .menu-icon {
    color: white;
  }

  .name {
    color: white;
  }
}

.option-item-icon {
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
}

.option-item-title {
  text-overflow: clip;
  white-space: nowrap;
  max-height: 2.2em;
  width: 200px;
  overflow: hidden;
}

.item:hover {
  background-color: $hover; /* Change color when hovering if needed */
  cursor: pointer;
  background-color: #7697ad74;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined", sans-serif;
  color: $logo;
}

button {
  border: none;
  background: none;
}

$lefbar: #ddddda;
$hover: #4a707a;
$logo: #4a707a;

.nav-bar {
  font-family: "Arial", sans-serif;
  background-color: $lefbar;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  display: flex;
  align-items: center;
  color: $logo;
}

.logo .material-symbols-outlined {
  font-family: "Material Symbols Outlined", sans-serif;
  /* Cài đặt các thuộc tính khác nếu cần thiết */
}







