<div class="left-bar">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <div class="container">
        <div class="logo">
            <span class="material-symbols-outlined">home_app_logo</span>
            <div class="name1"><b class="magicpost">MagicPost</b></div>
        </div>

        <div class="dashboard item">
            <span class="material-symbols-outlined">dashboard</span>
            <button class="name" mat-button routerLink="">Dashboard</button>
            <!-- <div class="name">
                Dashboard
            </div> -->
        </div>

        <div class="search item">
            <span class="material-symbols-outlined">search</span>
            <button class="name" mat-button routerLink="point-staff-except-out">Xác nhận đơn hàng đi</button>
        </div>

        <div class="search item">
            <span class="material-symbols-outlined">search</span>
            <button class="name" mat-button routerLink="point-staff-except">Xác nhận đơn hàng đến</button>
        </div>

        <div class="search item">
            <span class="material-symbols-outlined">search</span>
            <button class="name" mat-button routerLink="point-staff-creat">Tạo đơn chuyển hàng đến điểm giao dịch</button>
        </div>

        <div class="search item">
            <span class="material-symbols-outlined">search</span>
            <button class="name" mat-button routerLink="point-staff-creat-topoint">Tạo đơn chuyển hàng đến điểm tập kết</button>
        </div>

        <div class="logout item3">
            <span class="material-symbols-outlined">logout</span>
            <div class="name">Log out</div>
        </div>
    </div>
</div>