<div class="body">
    <div class="container">
    <h1>Tạo đơn chuyển hàng đến điểm tập kết</h1>
    <div class="head">
        <input style="display: block;" type="text" placeholder="Mã vận đơn...">
        <input style="display: block;" type="text" placeholder="Vị trí đến...">
        <button class="button"> tra cứu </button>
    </div>

    <div class="tracking-info"><table>
        <thead>
          <tr>
            <th>Mã vận đơn</th>
            <th>Vị trí đến</th>
            <th>Trạng thái</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>VD001</td>
            <td>HCM City</td>
            <td style="display: flex; flex-direction: row; align-items: center; justify-content: center;"><span style="color: green;" class="material-symbols-outlined">
              done
              </span>Shipped</td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
</div>