<div class="body">
  <div class="container">
  <h1>Tạo đơn chuyển hàng đến điểm giao dịch</h1>
  <div class="head">
      <input type="text" placeholder="Mã vận đơn..." [(ngModel)]="orderId">
      <input type="text" placeholder="Vị trí đến..." [(ngModel)]="position">
      <button class="button" (click)="updateOrderPosition()"> Xuất hàng </button>
  </div>

  <div class="tracking-info">
    <table class="order-table">
      <thead>
        <tr>
          <th>Mã đơn hàng</th>
          <th>Trạng thái đơn hàng</th>
          <th>Thời gian</th>
        </tr>
      </thead>
      <tbody>
        <tr 
        class="order-info">
          <td>{{ orders.orderId }}</td>
          <td>{{ orders.status }}</td>
          <td>{{ orders.serviceAddressId }}</td>
          <!-- <td style="display: flex; flex-direction: row; align-items: center; justify-content: center;"><span style="color: green;" class="material-symbols-outlined">
            done
            </span>Shipped</td> -->
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>