    .body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  .container {
    width: 90%;
    overflow: auto;
    margin: auto;
  }
  #tracking-form {
    background: #fff;
    padding: 20px;
    margin-top: 20px;
  }
  #tracking-form input[type="text"] {
    width: calc(100% - 130px);
    padding: 8px;
    font-size: 16px;
  }
  #tracking-form input[type="submit"] {
    width: 120px;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
  }
  .tracking-info {
    background: #fff;
    margin-top: 20px;
    padding: 20px;
  }
  .tracking-info h2 {
    margin-top: 0;
  }
  .tracking-info p {
    margin: 5px 0;
  }