<div class="body">
    <div class="container">
    <h1>Xác nhận đơn hàng từ điểm giao dịch chuyển đến</h1>
    <div class="head">
        <input type="text" placeholder="Mã vận đơn...">
        <button class="button"> Xác nhận </button>
    </div>

    <div class="tracking-info"><table>
        <thead>
          <tr>
            <th>Mã vận đơn</th>
            <th>Tên đơn hàng</th>
            <th>Thời gian</th>
            <th>Địa điểm</th>
            <th>Trạng thái</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>VD001</td>
            <td>HCM City</td>
            <td>Shipped</td>
            <td>HCM City</td>
            <td>Okela</td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
</div>