<!-- <div class="body">
    <div class="container">
      <h1>Xác nhận đơn hàng từ điểm tập kết chuyển đến</h1>
      <div class="head">
        <input type="text" placeholder="Mã vận đơn...">
        <button class="button"> Xác nhận </button>
      </div>

    <div class="tracking-info"><table>
        <thead>
          <tr>
            <th>Mã vận đơn</th>
            <th>Tên đơn hàng</th>
            <th>Thời gian</th>
            <th>Địa điểm</th>
            <th>Trạng thái</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <td>{{ order.id }}</td>
            <td>{{ order.name }}</td>
            <td>{{ order.address }}</td>
            <td>{{ order.weight }}</td>
            <td>{{ order.quantity }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
</div> -->
<div class="body">
  <div class="container">
  <h1>Xác nhận đơn hàng từ điểm giao dịch đến </h1>
  <div class="head">
      <input type="text" placeholder="Mã vận đơn..." [(ngModel)]="orderId">
      <button class="button" (click)="updateOrderPosition()"> Xuất hàng </button>
  </div>

  <div class="tracking-info">
    <table class="order-table">
      <thead>
        <tr>
          <th>Mã đơn hàng</th>
          <th>Trạng thái đơn hàng</th>
          <th>Thời gian</th>
        </tr>
      </thead>
      <tbody>
        <tr
        class="order-info">
          <td>{{ orders.oderId }}</td>
          <td>{{ orders.status }}</td>
          <td>{{ orders.date }}</td>
          <!-- <td style="display: flex; flex-direction: row; align-items: center; justify-content: center;"><span style="color: green;" class="material-symbols-outlined">
            done
            </span>Shipped</td> -->
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>
