$leftbar: #ddddda;
$hover: #4a707a;
$logo: #4a707a;


.container{
    height: 90%;
    display: flex;
    justify-content: center; /* Canh giữa theo chiều ngang */
    align-items: center; 
    flex-direction: row;
}

.background-container{
    background-color: #4a707a;
    overflow: hidden;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ddddda;
    .background-image {
        height: 80%;
        object-fit: cover; /* Đảm bảo ảnh nằm đúng vị trí */
    }
   
}

.login-form{
    height: 400px;
    padding: 10px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    border-radius: 20px;

    .logo {
        height: 100px;
        padding: 20px;
    }
    .example-form {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
      }
      
    .example-full-width {
        width: 100%;
        padding: 10px 0;
    }
}
.button {
    background: $logo;
    border-radius: 5px;
    border: 0;
    color: #fff;
    font-family: "SF UI Text Bold", sans-serif;
    width: 150px;
    height: 48px;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    padding: 0 25px;
    position: relative;
    margin: 10px;
    cursor: pointer;
    -webkit-transition: .2s linear;
    transition: all .2s linear 0s;
    outline: 0!important;
    
    display: block;
    flex-direction: row;
    align-items: center;
  }
  button:hover{
    background-color: #ddddda;
  }

  .img1{
    width: 30%;
  }