<div class="body">
    <div class="container">
        <h1>Tra cứu Mã Vận Đơn</h1>
        <div class="tracking-form">
            <input class="input" type="text" placeholder="Nhập mã vận đơn...">
            <button class="button"> Tra cứu </button>
        </div>

        <div class="tracking-info">
            <h2>Thông tin vận đơn</h2>
            <p><strong>Mã vận đơn:</strong> ABC123456789</p>
            <p><strong>Tên hàng hóa:</strong> Sản phẩm A</p>
            <p><strong>Ngày và giờ:</strong> 01/01/2024 10:00 AM</p>
            <p><strong>Trạng thái:</strong> Đang giao hàng</p>
        </div>
    </div>
</div>
    
<!-- <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Weight</th>
        <th>Quantity</th>
        <th>Order Date</th>
        <th>Order Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{ order.id }}</td>
        <td>{{ order.name }}</td>
        <td>{{ order.address }}</td>
        <td>{{ order.weight }}</td>
        <td>{{ order.quantity }}</td>
        <td>{{ order.oderDate }}</td>
        <td>{{ order.oderStatus }}</td>
      </tr>
    </tbody>
  </table> -->
     