<div class="body">
    <div class="container">
    <h1>Tra cứu Mã Vận Đơn</h1>
    <div id="tracking-form">
        <form>
        <input class="input1" type="text" placeholder="Nhập mã vận đơn...">
        <button class="button"> tra cứu </button>
        </form>
    </div>

    <div class="tracking-info">
        <h2>Thông tin vận đơn</h2>
        <p><strong>Mã vận đơn:</strong> ABC123456789</p>
        <p><strong>Tên hàng hóa:</strong> Sản phẩm A</p>
        <p><strong>Ngày và giờ:</strong> 01/01/2024 10:00 AM</p>
        <p><strong>Trạng thái:</strong> Đang giao hàng</p>
    </div>
    </div>
</div>
    
