<div class="left-bar">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <div class="container">
    <div class="frame-child"></div>
    <div class="frame-item"></div>

    <div class="logo">
        <!-- <img class="codesandbox-icon" alt="r" ngSrc="/app/img/truck.png" /> -->
        <span class="material-symbols-outlined">home_app_logo</span>
        <div class="name"><b class="magicpost">MagicPost</b></div>
    </div>

    <div class="dashboard item">
        <!-- <img class="settings-icon" alt="a" src="/app/img/dashboard.png" /> -->
        <span class="material-symbols-outlined">dashboard</span>
        <div class="name">
            Dashboard
        </div>
    </div>

    <div class="search item">
        <!-- <img class="settings-icon" alt="a" src="search.png" /> -->
        <span class="material-symbols-outlined">search</span>
        <div class="name">
            <a routerLink="search">Tra cứu đơn hàng</a>
        </div>
    </div>

    <div class="logout item">
        <!-- <img class="vector-icon" alt="a" src="/app/img/logout.png" /> -->
        <span class="material-symbols-outlined">logout</span>
        <div class="name">Log out</div>
    </div>
    </div>
</div>