<div class="body">
    <div class="container">
        <h1>Tạo đơn hàng</h1>
        <button class="button">Xác nhận</button>
        <div id="tracking-form">
            <form>
                <input class="input" type="text" placeholder="Tên người gửi...">
                <input class="input" type="text" placeholder="Số điện thoại...">
                <input class="input" list="types" type="text" placeholder="Loại hàng...">
                <datalist id="types">
                    <option value="Hàng hóa"></option>
                    <option value="Giấy tờ"></option>
                </datalist>                
                <input class="input" type="text" placeholder="Cân nặng...">
                <input class="input" type="text" placeholder="Số lượng...">
                <textarea  placeholder="Mô tả..." rows="4"></textarea>
            </form>
        </div>
    </div>
</div>
